* {
  box-sizing: border-box;
}

body {
  color: #505050;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header__top {
  background-image: url("../images/cuba.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.header__top-inner {
  display: flex;
  height: 100%;
  border: 2px solid #ecb84c;
  border-bottom: none;
  flex-direction: column;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}

.header__title {
  margin: auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: Prompt;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__text {
  margin-bottom: -12px;
  align-items: center;
  white-space: nowrap;
  display: flex;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  font-family: Loto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__text::after,
.header__text::before {
  content: "";
  border-top: 2px solid #ecb84c;
  width: 100%;
}

.header__text::after {
  margin-left: 30px;
}

.header__text::before {
  margin-right: 30px;
}

.menu {
  border-bottom: 1px solid #d0d4d8;
  margin-bottom: 83px;
  padding-bottom: 20px;
  padding-top: 24px;
}

.menu__list {
  display: flex;
  justify-content: center;
  gap: 33px;
  color: #909090;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

.menu__list-link:hover {
  color: #4e5665;
  text-decoration: underline 4px solid #ecb84c;
  text-underline-offset: 20px;
  width: 78px;
}

.why__title {
  color: #4e5665;
  text-align: center;
  font-family: Georgia;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 22px;
}

.why__link {
  text-align: right;
  color: #ecb84c;
  font-weight: 700;
  margin-bottom: 36px;
}

.why__card-number {
  margin-top: 32px;
  color: #4e5665;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.why__card-text {
  color: #909090;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.why__card-inner {
  display: flex;
  justify-content: space-around;
  padding-bottom: 80px;
  border-bottom: 1px solid #d0d4d8;
  margin-bottom: 80px;
}

.why__card {
  text-align: center;
}

.about__title {
  color: #4e5665;
  text-align: center;
  font-family: Georgia;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 14px;
}

.about__text {
  margin-bottom: 71px;
  font-size: 12.9px;
}

.about__box {
  width: 470px;
  height: 290px;
  background-color: #dbd7d7;
  margin-bottom: 70px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 160px;
}

.about__box-title {
  color: #4e5665;
  font-family: Georgia;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}

/* .card__title::after,
.card__title::before {
  content: "";
  border-top: 1px solid #ecb84c;
  width: 10%;
  padding: 20px;
  border-left: 2px solid #ecb84c;
} */
